<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.connie7.repository.LotteryInfoRepository">
    <resultMap id="BaseResultMap" type="com.connie7.entity.LotteryInfoEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="lottery_name" property="lotteryName" jdbcType="VARCHAR"/>
        <result column="is_effective" property="isEffective" jdbcType="CHAR"/>
        <result column="init_number" property="initNumber" jdbcType="BIGINT"/>
        <result column="current_number" property="currentNumber" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, lottery_name, is_effective, init_number, current_number, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_lottery_info
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_lottery_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.connie7.entity.LotteryInfoEntity">
    insert into t_lottery_info (id, lottery_name, is_effective, 
      init_number, current_number, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{lotteryName,jdbcType=VARCHAR}, #{isEffective,jdbcType=CHAR}, 
      #{initNumber,jdbcType=BIGINT}, #{currentNumber,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.connie7.entity.LotteryInfoEntity">
        insert into t_lottery_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="lotteryName != null">
                lottery_name,
            </if>
            <if test="isEffective != null">
                is_effective,
            </if>
            <if test="initNumber != null">
                init_number,
            </if>
            <if test="currentNumber != null">
                current_number,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="lotteryName != null">
                #{lotteryName,jdbcType=VARCHAR},
            </if>
            <if test="isEffective != null">
                #{isEffective,jdbcType=CHAR},
            </if>
            <if test="initNumber != null">
                #{initNumber,jdbcType=BIGINT},
            </if>
            <if test="currentNumber != null">
                #{currentNumber,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.connie7.entity.LotteryInfoEntity">
        update t_lottery_info
        <set>
            <if test="lotteryName != null">
                lottery_name = #{lotteryName,jdbcType=VARCHAR},
            </if>
            <if test="isEffective != null">
                is_effective = #{isEffective,jdbcType=CHAR},
            </if>
            <if test="initNumber != null">
                init_number = #{initNumber,jdbcType=BIGINT},
            </if>
            <if test="currentNumber != null">
                current_number = #{currentNumber,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.connie7.entity.LotteryInfoEntity">
    update t_lottery_info
    set lottery_name = #{lotteryName,jdbcType=VARCHAR},
      is_effective = #{isEffective,jdbcType=CHAR},
      init_number = #{initNumber,jdbcType=BIGINT},
      current_number = #{currentNumber,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <!-- 根据生效状态查询 -->
    <select id="selectByEffective" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_lottery_info WHERE is_effective=#{effective,jdbcType=CHAR}
    </select>

    <!-- 行锁查询记录 -->
    <select id="selectByPrimaryKeyForLock" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_lottery_info WHERE id=#{id, jdbcType=BIGINT} FOR UPDATE
    </select>

    <!-- 乐观锁更新 -->
    <update id="updateByPrimaryKeyAndUpdateTime" parameterType="com.connie7.entity.LotteryInfoEntity">
        update t_lottery_info
        set lottery_name = #{record.lotteryName,jdbcType=VARCHAR},
        is_effective = #{record.isEffective,jdbcType=CHAR},
        init_number = #{record.initNumber,jdbcType=BIGINT},
        current_number = #{record.currentNumber,jdbcType=BIGINT},
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
        update_time = #{record.updateTime,jdbcType=TIMESTAMP}
        where id = #{record.id,jdbcType=BIGINT} AND update_time=#{oldUpdateDate,jdbcType=TIMESTAMP}
    </update>

</mapper>